<main id="about-page" class="styled-links mb-3">
  <div class="grid">
    <div class="grid__item desk--one-half mb-2">
      <h2>

        I started building Tumblr themes when I was 12 and now I’m here.
        I enjoy music festivals, cooking, <a href="https://www.instagram.com/emlypokes/" target="_blank">tattooing</a>, and hanging out with my 2 cats.
      </h2>
    </div>
    <div class="grid__item desk--one-half">

      {{#with memes}}
      {{#each memes}}
      {{#unless hide}}

      <img style="width: 100%;" src="/images/memes/{{src}}" alt="{{title}}" title="{{title}}" class="mb-1">
      {{/unless}}
      {{/each}}
      {{/with}}
    </div>
  </div>



</main>